*{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
/* Hader and Navbar Style  */
.header{
    background-color: rgb(205, 226, 205);
    background-image: url(/images/header_bg.png) , url(/images/developer.png);
    background-repeat: no-repeat;
    background-position:bottom right , 40px;
    background-size: 800px, 90px;
    box-shadow: 0px 3px 40px 5px ;
}
.nav-titel{
    font-weight: 800;
    font-size: 50px;
    }
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    padding-top: 50px;
    align-items: center;
}
.text-prymary{
    color: green;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
}
.btn-prymary{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    border: 0;
    padding: 0 14px;
    height: 40px;
    border-radius: 10px;
    background: green;
}
.btn-prymary:hover{
    background: rgb(98, 216, 98);
    color: black;
}
/* Banner Style  */
.banner{
    display: flex;
    margin: 50px 115px 50px 200px;
    align-items: center;
}
.banner-titel{
font-size: 45px;
margin-bottom: 10px;
}
.banner-titel2{
font-size: 65px;
margin-bottom: 20px;
}
.banner-peragraph{
font-size: 20px;
margin-bottom: 30px;
width: 75%;
}

.my-img{
    height: 550px;
}

/* Main Style  */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About Me Style  */
.about{
    background-color: rgb(205, 226, 205);
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;
    box-shadow: 0px 3px 40px 5px ;
}
.about-titel{
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 40px;
    text-decoration: underline ;
    text-underline-offset: 10px;
}
.about-discription{
    margin-bottom: 40px;
    font-size: 20px;
}
.about-info-contaner{
    display: flex;
    justify-content: space-around;
}
.info-titel{
font-size: 20px;
}
.info-discription{
font-weight: bold;
font-size: 20px;
}

/* My Skills Style  */
.my-skills{
    margin: 130px 0;

}
.skill-container{
    display: flex;
    gap: 50px;
}
.skill{
    padding: 30px;
    background: rgb(205, 226, 205);
    box-shadow: 0px 3px 40px 5px ;
    border-radius: 5px;
}
.skill-hade-titel{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    text-decoration: underline ;
    text-underline-offset: 10px;
}
.skill-pragraph{
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px; 
}
.skill-img{
    margin-bottom: 20px;
}
.skill-titel{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}