*{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
/* Hader and Navbar Style  */
header{
    background-color: rgb(205, 226, 205);
    height: 700px;
}
.nav-titel{
    font-weight: 800;
    font-size: 45px;
    }
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    padding-top: 50px;
    align-items: center;
}
.text-prymary{
    color: green;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 25px;
}
.btn-prymary{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    border: 0;
    padding: 0 14px;
    height: 40px;
    border-radius: 10px;
    background: green;
}
.btn-prymary:hover{
    background: rgb(98, 216, 98);
    color: black;
}
/* Banner Setion  */
.banner{
    display: flex;
    margin: 50px 200px;
    align-items: center;
}
.banner-titel{
font-size: 45px;
}
.banner-titel2{
font-size: 70px;
}
.banner-peragraph{
font-size: 20px;
}

.my-img{
    height: 550px;
}
